<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.soul.rxandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".aggregate.ConcatAndCountActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".aggregate.Reducectivity"
            android:label="@string/title_activity_reduce"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".combining.CombineLatestActivity"
            android:label="@string/title_activity_combine_latest"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".combining.JoinActivity"
            android:label="@string/title_activity_combine_latest"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".combining.MergeActivity"
            android:label="@string/title_activity_combine_latest"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".combining.StartWithSwitchActivity"
            android:label="@string/title_activity_combine_latest"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".combining.ZipActivity"
            android:label="@string/title_activity_combine_latest"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.AllAndAmbActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.ContainsActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.DefaultIfEmptyActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.SequenceEqualActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.SkipUntilSkipWhileActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity android:name=".conditionl_boolean.TakeUntilTakeWhileActivity"
                  android:label="@string/title_activity_all_abm"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
    </application>

</manifest>